#loglevel.default is the default log level for jobs: ERROR,WARN,INFO,VERBOSE,DEBUG
loglevel.default={{getv "/log/level" "INFO"}}
rdeck.base=/var/lib/rundeck
rundeck.projectsStorageType={{getv "/storage/type" "db"}}
rundeck.storage.provider.1.type={{getv "/storage/type" "db"}}
rundeck.storage.provider.1.path={{getv "/storage/path" "keys"}}

#rss.enabled if set to true enables RSS feeds that are public (non-authenticated)
rss.enabled=false
# change hostname here
grails.serverURL=http://{{getv "/server/hostname" "localhost"}}:{{getv "/server/port" 4440}}
dataSource.dbCreate = update
dataSource.url = jdbc:mysql://{{getv "/db/host"}}:{{getv "/db/port" 3306}}/{{getv "/db/dbname" "rundeck"}}?autoReconnect=true
#dataSource.url = jdbc:h2:file:/var/lib/rundeck/data/rundeckdb;MVCC=true;TRACE_LEVEL_FILE=4
dataSource.username={{getv "/db/username"}}
dataSource.password={{getv "/db/password"}}
